:root {
  --rv-black: #121212;
  --rv-dark: #333333;
  --rv-light: #828282;
  --rv-emphasis: #ec5757;
}

body {
  margin: 0px 0px 0px 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h2 {
  font-size: 17;
  font-weight: bold;
  color: var(--rv-black);
}

h2.lowEmphasis {
  font-size: 17;
  font-weight: bold;
  color: var(--rv-light);
}

h2.highEmphasis {
  font-size: 17;
  font-weight: bold;
  color: var(--rv-emphasis);
}

p {
  font-size: 14;
  color: var(--rv-black);
}

p.lowEmphasis {
  font-size: 14;
  color: var(--rv-light);
}
